<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

    <header>
        <h1>Dokkaebi</h1>
        <h3>A famosa dokkinha fofa.</h3>
    </header>

    <div class="galeria">
        <% lindas.forEach(linda => { %>
            <img src="/images/<%= linda.fotinha %>">
        <% }) %>
    </div>

    <a href="/" class="btn-volta">Voltar</a>

</body>

</html>