<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

    <header>

        <h1>Bem Vindo!</h1>

        <h3>As mais lindas estão aqui.</h3>

    </header>

    <main class="options">

        <div class="lindinhas">

            <img src="images/dokkinha.jpeg" alt="Dokkaebi" width="200" height="200">
            <a href="/dokkinha" class="btn-link">Dokkaebi</a>

        </div>

        <a href="/textinho">
            <img src="images/patinhas_logo.png" alt="Patinhas" width="80" height="80">
        </a>

        <div class="lindinhas">

            <img src="images/docinho.jpg" alt="Docinho" width="200" height="200">
            <a href="/docinho" class="btn-link">Docinho</a>

        </div>
    </main>

    <footer>
        <p>Feito com ❤️ por mel/mika</p>
    </footer>

</body>

</html>